
#create-event-form {
    background-color: #1c3168;
    z-index: 100;
    color: white;
    text-align: left;
    font-size: 1em;
}
.progress{
    position: absolute;
    top:2vh;
    left: 2vw;

}
.new-event-page-button{
    border-color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;

}
#newEventDescription{
    height: 200px;
}
.red-text{
    color: red;
}

.formMainPageHeader{
    font-size: 2.9em;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 6vh;
}
.formInputLabel{
    font-size: 2.5em;
    padding-bottom: 20px;

}
.formTextInput{
    width: 100%;
    font-size: 2.5em;
    padding-left: 15px;
    margin-bottom: 5vh;
}
.create-event-step{
    padding-top: 3vw;
    padding-left: 10vw;
}
#cancel-new-event{
    position: absolute;
    right: 5px;
    top: 10px;
    background: #a95555;
    color: white;
}
.formMandetoryExplanation{
    position: absolute;
    top:70vh;
    left: 10vw;
    font-size: 2.1em;
}
.next-step-button{
    position: absolute;
    top:77vh;
    right: 10vw;
    background: lightskyblue;
    padding: 5px;
    color: black;
    font-weight: bold;
    width: 100px;
}

.prev-step-button{
    position: absolute;
    top:77vh;
    left: 10vw;
    background: lightskyblue;
    padding: 5px;
    color: black;
    font-weight: bold;
    width: 100px;
}

.next-step-button:disabled{

    background: lightsteelblue;

    color: grey;

}
.datePicker{
    background: white;
    margin-top: 10px;
    height: 40px;

}
.eventImage{
    width: 200px;
    height: 300px;
}
.selectedEventImage{
    border: 3px solid yellow;
}

@media screen and (max-width: 800px) {

    .formMainPageHeader{
        font-size: 1.33em;
        font-weight: bold;
        text-decoration: underline;
        padding-left: 2vw;
        padding-bottom: 3vh;
    }
    .formInputLabel{
        font-size: 1.7em;
        padding-top: 10px;
    }
    .formTextInput{
        width: 90%;
        font-size: 2em;
        padding-left: 10px;
        margin-bottom: 2vh;
    }
    .create-event-step{
        padding-top: 18vw;
        padding-left: 5vw;
    }
    #newEventDescription{
        height: 150px;
    }
    .formMandetoryExplanation{
        top:74vh;
        left: 7vw;
        font-size: 1.9em;
    }
    .next-step-button{
        top:85vh;
        right: 10vw;
        padding: 5px;
        width: 100px;
    }

    .prev-step-button{
        top:85vh;
        left: 10vw;
        padding: 5px;
    }

    .datePicker{
        background: white;
        margin-top: 10px;
        height: 40px;

    }

}
