#loader{
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #313942;
  text-align: center;
  color: white;
}
#loader-app-name{
  margin-top: 14vh;
  font-size: 4em;
}
#loaderImage {

  width: 40vw;
  height: 40vh;

}
.loading-name-space{
  color:#313942;
  font-size: 15px;
}
@media screen and (max-width: 800px) {

  #loader-app-name{
    margin-top: 22vh;
    font-size: 2em;
  }
  #loaderImage {
    width: 80vw;
    height: 40vh;
  }
  .loading-name-space{
    font-size: 5px;
  }
}
