#login-page {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #1c3168;
    z-index: 99999;
    color: white;
    text-align: center;
    font-size: 1em;
}
#loginErrorSection{
    font-size: 1em;
    font-weight: bold;
    color: red;
    padding-top: 5px;
}
#login-header-div{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    text-align: left;
}

#login-header{
    padding-top: 2vh;
    padding-left: 5vw;
    font-size: 5.2em;
}

#login-text{
    padding-top: 35vh;
    font-size: 3.3em;
}
#version{
    font-size: 0.9em;
    color: grey;
    position: absolute;
    top: 2px;
    left: 4px;
}
.login-button{

    text-decoration: none;
    font-size: 2em;
    width: 40vw;

}
#google-login-button:before{
    content:'';
    background: url('http://pluspng.com/img-png/google-logo-png-open-2000.png'); /*url of image*/
    height: 50px; /*height of image*/
    width: 50px;  /*width of image*/
    position: absolute;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-left: -67px;
    margin-top: 3px;
}
#google-login-button{
    background-color: ghostwhite;
    color: black;
}

#facebook-login-button:before{
    content:'';
    background: url('https://upload.wikimedia.org/wikipedia/commons/7/79/Facebook_f_logo_2013.png'); /*url of image*/
    height: 50px; /*height of image*/
    width: 50px;  /*width of image*/
    position: absolute;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-left: -70px;
    margin-top: -6px;
}
#facebook-login-button{
    background-color: #3b5998;
    color: white;

}

#space-before-login-buttons{
    height: 20px;
}
#space-between-login-buttons{
    height: 20px;
}
@media screen and (max-width: 800px) {

    #login-page {
        font-size: 1em;
    }

    #loginErrorSection{
        font-size: 0.5em;
    }
    #login-header-div{
        position: absolute;
        top:0;
        left:0;
        width:100vw;
        text-align: left;
    }

    #login-header{
        padding-top: 4vh;
        padding-left: 6vw;
        font-size: 2.6em;
    }

    #login-text{
        padding-top: 25vh;
        font-size: 1.8em;
    }
    #version{
        font-size: 0.6em;
        color: grey;
    }
    .login-button{

        text-decoration: none;
        font-size: 1.6em;
        width: 90vw;
        height: 64px;
    }
    #google-login-button:before{
        height: 30px; /*height of image*/
        width: 30px;  /*width of image*/
        background-size: 30px 30px;
        margin-left: -38px;
        margin-top: 6px;
    }
    #google-login-button{
        padding-left: 30px;
    }

    #facebook-login-button:before{
        height: 30px; /*height of image*/
        width: 30px;  /*width of image*/
        background-size: 30px 30px;
        margin-left: -42px;
        margin-top: 1px;
    }
    #facebook-login-button{
        padding-left: 36px;

    }

    #space-before-login-buttons{
        height: 20px;
    }
    #space-between-login-buttons{
        height: 2px;
    }
}
